<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="Nancy" version="0.10.0" />
  <package id="Nancy.Hosting.Self" version="0.10.0" />
  <package id="Nancy.Testing" version="0.10.0" />
  <package id="Newtonsoft.Json" version="4.5.1" />
  <package id="NJasmine" version="0.1.9.0" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="PowerAssert" version="1.0.2" />
  <package id="Selenium.Support" version="2.21.0" />
  <package id="Selenium.WebDriver" version="2.21.0" />
  <package id="xunit" version="1.7.0.1540" />
</packages>